[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-flask = "==1.0.0"
pytest = "==6.1.2"

[packages]

# main
flask = "==1.1.2"
flask-sqlalchemy = "==2.4.4"
flask-migrate = "==2.5.3"
alembic = "==1.4.3"
psycopg2 = "==2.8.6"
flask-restful = "==0.3.8"
webargs = "==6.1.1"
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "==0.24.0"
flask-caching = "==1.9.0"
requests = "==2.24.0"

# utility (for avoiding possible version conflicts)
six = "==1.15.0"
python-dateutil = "==2.8.1"
pytz = "==2020.4"
aniso8601 = "==8.0.0"
click = "==7.1.2"

# END OF [packages]

[requires]
python_version = "3.8"
